/* Admin Dashboard Page Styles */


body {
    font-family: 'Inter', sans-serif;
}

/* Custom smooth hover effects */
.card-zoom-image {
    transition: transform 0.7s ease;
}

.group:hover .card-zoom-image {
    transform: scale(1.05);
}
